In [28]:
#import modules
import sqlite3

In [29]:
# demo data
laundry_mat_data = [{"product": "Detergent", "dollar_price_per_unit": 4.5,"quantity": 100, "total_cost": 200},
                    {"product": "Dryer Sheets Box", "dollar_price_per_unit": 3.5, "quantity": 100,"total_cost": 350},
                    {"product": "Washing Machine", "dollar_price_per_unit": 400, "quantity": 25, "total_cost": 10000},
                    {"product": "Dryer", "dollar_price_per_unit": 400,"quantity": 25, "total_cost": 10000},
]

## Two ways to load transformed data

### Full data load

In [30]:
def perform_full_data_load(laundry_mat_data):
    # Connect to the database
    conn = sqlite3.connect("laundry_mat.db")
    cursor = conn.cursor()

    # Truncate the existing data
    cursor.execute("DELETE FROM laundry_mat")
    
    # Insert new data
    for record in laundry_mat_data:
        cursor.execute("INSERT INTO laundry_mat ((product, dollar_price_per_unit, quantity, total_cost) VALUES (?, ?, ?, ?)",
                       (record["product"], record["dollar_price_per_unit"], record["quantity"], record["total_cost"]))
        
    conn.commit()
    conn.close()

In [31]:
perform_full_data_load(laundry_mat_data)

OperationalError: no such table: laundry_mat

### Incremental data load

In [24]:
def perform_incremental_data_load(laundry_mat_data):
    # Connect to the database
    conn = sqlite3.connect("laundry_mat.db")  
    cursor = conn.cursor()
    
    # Insert new data (if the product doesn't already exist)
    for record in laundry_mat_data:
        cursor.execute("INSERT OR IGNORE INTO laundry_mat (product, dollar_price_per_unit, quantity, total_cost) VALUES (?, ?, ?, ?)",
                       (record["product"], record["dollar_price_per_unit"], record["quantity"], record["total_cost"]))

    conn.commit()
    conn.close()

In [25]:
perform_incremental_data_load(laundry_mat_data)

OperationalError: no such table: laundry_mat